.bg-custom-blue {
  padding: 1rem;
  background-color: #8b5cf6;
  height: 100vh;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
}

.green-dot {
  width: 10px;
  height: 10px;
  background-color: #0d983e; 
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px; 
}

.bg-custom-purple {
  background-color: #c4b5fd; 
}

.chat-header {
  padding: 1rem;
  /* background-color: #6366f1;  */
  font-weight: bold;
  font-size: large;
}

.messages {
  display: flex;
  flex-direction: column;
}

.messages {
  flex-grow: 1; /* Expand messages section to fill remaining space */
  overflow-y: auto; /* Enable vertical scroll if needed */
  padding: 10px;
}

/* Message styles */
.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  max-width: 70%; 
}

.sent {
  position: relative;
  background-color: #007bff; 
  color: white;
  align-self: flex-end; 
  padding: 0.75rem 1.25rem;
  border-radius: 10px 10px 0 10px; 
}

.sent::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -10px; 
  transform: translateY(-50%);
  border: 7px solid transparent;
  border-left-color: #007bff;
}

.received {
  position: relative;
  background-color: #f1f1f1; 
  align-self: flex-start;
  padding: 0.75rem 1.25rem;
  border-radius: 10px 10px 10px 0; 
}

.received::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -10px; 
  transform: translateY(-50%);
  border: 7px solid transparent;
  border-right-color: #f1f1f1;
}

.timestamp {
  font-size: 0.8em; 
}

.message-form {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  position: fixed;
  bottom: 0;
  right: 0; 
  width: 74%;
  padding: 10px;
  background-color: #f8f9fa; 
  border-top: 1px solid #ced4da; 
}

.message-form .form-control {
  flex: 1;
  margin-right: 20px; 
}

.message-form .btn {
  flex-shrink: 0; 
}

/* Responsive media query */
@media (max-width: 768px) {
  .message {
    max-width: 90%; 
  }
}