.bg-custom-blue {
  padding: 1rem;
  background-color: #8b5cf6;
  height: 100vh;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
}

.green-dot {
  width: 10px;
  height: 10px;
  background-color: #0d983e; 
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px; 
}

.bg-custom-purple {
  background-color: #c4b5fd; 
}


